#titulo{
	color: #495FDA;
	width: 300px;
	margin: 0 auto;
}

#contenedor {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#dado {
	button-color: red;
}

#ranking {
	float: right;
	top: 50%;
	left: 10%;
}

#imgranking {
	width: 200px;
	height: 200px;
}

#estadisticas {
	position: relative;
	left: 700px;
	
}

#estadisticas {
	position: relative;
	left: 700px;
	
}

#grafico {
	width: 200px;
	height: 200px;
}

